WEBSITE_BASE_HOST=https://example.com
WEBSITE_ADMIN_HOST=https://example.com/admin
WEBSITE_SERVER_HOST=https://example.com
SERVER_NAME=example.com
SSL_CERT_FILE=fullchain.pem
SSL_KEY_FILE=privkey.pem
